@import "tailwindcss";

html{
   scroll-behavior: smooth;
}
body {
        font-family: 'Inter', sans-serif;
        background-color: #020617;
        color: #f8fafc;
        margin: 0;
      }
      ::-webkit-scrollbar {
        width: 8px;
      }
      ::-webkit-scrollbar-track {
        background: #020617;
      }
      ::-webkit-scrollbar-thumb {
        background: #1e293b;
        border-radius: 4px;
      }
      ::-webkit-scrollbar-thumb:hover {
        background: #334155;
      }